<header>
<nav>
    <a href="/">Movie Database</a>
    <ul>
        <li><a href="/moviereviews"> Recent Movie Reviews</a></li>
        <li><a href="/moviereviews/new"> Create New Movie Reviews</a></li>
    </ul>
</nav>
</header>